__pycache__/db_manager.cpython-310.pyc
__pycache__/access_manager.cpython-310.pyc
__pycache__/espdata.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/web_ui.cpython-310.pyc
__pycache__
rfid_access_control.db
